<!-- TODO -->

<!--<launch>
  <!-- The end-effector frame_id -->
  <arg name="ee_frame"/>

  <!-- Bring up a kinect -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="publish_tf" value="false"/>
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- Calibrate the extrinsics for a kinect mounted to a robot base -->
  <include file="$(find handeyecalibration)/launch/calibrate.launch">
    <arg name="markerid"   value="582"/>
    <arg name="markersize" value="0.141"/>
    <arg name="publish_tf" value="true"/>

    <arg name="marker_parent_frame" value="$(arg ee_frame)"/>
    <arg name="camera_parent_frame" value="/world"/>
    <arg name="camera" value="/camera/rgb"/>

    <arg name="camera_frame" value="/camera_rgb_optical_frame"/>
    <arg name="xyz_optical_base" value="[0.000, -0.045, 0.000]"/>
    <arg name="rpy_optical_base" value="[-1.571, -0.000, -1.571]"/>
  </include>

</launch>-->
