<launch>
    <arg name="namespace" default="handeyecalibration" doc="The namespace containing the parameters to be saved" />
    <arg name="filename" default="$(arg namespace)" />

    <rosparam command="load" ns="$(arg namespace)" file="$(env HOME)/.ros/handeyecalibration/$(arg filename).yaml" />
</launch>
