<launch>
    <arg name="eye_on_hand" default="false" doc="eye-on-hand instead of eye_on_base" />
    <arg name="namespace_prefix" default="handeyecalibration" />
    <arg if="$(arg eye_on_hand)" name="namespace" value="$(arg namespace_prefix)_eye_on_hand" />
    <arg unless="$(arg eye_on_hand)" name="namespace" value="$(arg namespace_prefix)_eye_on_base" />

    <arg if="$(arg eye_on_hand)" name="tool_frame" default="tool0" />
    <arg unless="$(arg eye_on_hand)" name="base_link_frame" default="base_link" />
    <arg name="optical_origin_frame" default="optical_origin" />
    
    <arg name="inverse" default="false" />
    
    <!--publish hand-eye calibration-->
    <group ns="$(arg namespace)">
        <param name="eye_on_hand" value="$(arg eye_on_hand)" />
        <param unless="$(arg eye_on_hand)" name="base_link_frame" value="$(arg base_link_frame)" />
        <param if="$(arg eye_on_hand)" name="tool_frame" value="$(arg tool_frame)" />
        <param name="optical_origin_frame" value="$(arg optical_origin_frame)" />
        <param name="inverse" value="$(arg inverse)" />
        <node name="$(anon handeye_publisher)" pkg="handeyecalibration" type="publish.py" output="screen"/>
    </group>
</launch>
